@media (max-width: 830px) {

    .subtitle, .navigation{
      display: inherit;
      text-align: center;
    }

    main{
      width: 80%;
    }

    .nav-item{
        padding: 5%;
        width: 150px;
        text-align: center;
        align-items: center;
        margin-left: 15%;
        margin-bottom: 5px;
    }
  
    .skill-container{
        display: inherit;
        padding: 0;
    }

    .intro{
      display: inherit;
      width: 80%;
    }
  
    .carousel{
      width: 95%;
    }

    .contact-section, .send-button,.social-media{
      width: 80%;
    }

    .social-media{
      margin-left: 20px;
    }
  }
  