@media (max-width: 830px) {

    .subtitle, .navigation{
      display: inherit;
      text-align: center;
    }

    main{
      width: 80%;
    }

    .nav-item{
        padding: 5%;
        width: 150px;
        text-align: center;
        align-items: center;
        margin-left: 15%;
        margin-bottom: 5px;
    }
  
    .skill-container{
        display: inherit;
        padding: 0;
    }

    .intro{
      display: inherit;
      width: 80%;
    }
  
    .carousel{
      width: 90%;
    }

    .project-container li{
      display: inherit;
     
    }

    .project-container{
      width: 95%;
    }

    #modal-header {
      font-size: 18px;
  }

    .modal {
      height: 35%;
      width: 70%;
      padding: 30px;
      top: 30%;
      padding-bottom: 1px;
    }
    

    .contact-section, .social-media{
      width: 80%;
    }

    .social-media{
      margin-left: 20px;
    }

    .form-container{
      width: 50%;
    }

    footer div{
    display: list-item;
    text-align: center;
    list-style: none;
    }
  }
  