@media (max-width: 830px) {

    .subtitle, .navigation{
      display: inherit;
      text-align: center;
    }

    main{
      width: 80%;
    }

    .nav-item{
        padding: 5%;
        width: 70%;
        text-align: center;
        align-items: center;
        margin-left: 15%;
    }
  
    .skill-container{
        display: inherit;
        padding: 0;
    }

    .intro{
      display: inherit;
      width: 80%;
    }
  
    .carousel{
      width: 95%;
    }
  }
  